:root{
    --primary-color: gray;
    --secondary-color: black;
    --tertiary-color: red;
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
  }

  header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
  }

  header h1 {
    font-weight: lighter;
    margin: 0;
    font-size: 36px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  header a {
    text-decoration: none;
    color: rgb(253, 2, 2, 0.3);
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }
  .hero {
    background-image: url('../images/hero.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
    opacity: 0.3;
  }
  .social {
    
    padding: 20px;
    clear: both;
    float: left;
    width: 10%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display:flex;
    flex-wrap: wrap;
}

.social img {
    display:block;
    flex: 1 70%;
    
}
.social nav ul {
    list-style: none;
  }
  .hero-cta {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: red;
    font-size: 24px;
    line-height: 1.7;
    opacity: 1;
    display: inline-block;
  }
  .hero-cta h2 {
    font-size: 55px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: red;
    line-height: 1.2;
  }
  