:root{
    --primary-color: cyan;
    --secondary-color: black;
    --tertiary-color: rgb(106, 107, 109);
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
    cursor: url("../images/cursor.svg"), default;
  }
  #myVideo {
    position: static;
    right: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
  }  
  header {
    padding: 20px 35px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
  }

  header h1 {
    font-weight: lighter;
    margin: 0;
    font-size: 36px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  header a {
    text-decoration: none;
    color: cyan;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }
 
  .social {
      height: 100%;
      width: 5%;
      position: fixed;
      z-index: 1;
      top: 80;
      left: 0;
      background-color: rgba(0, 0, 0, 0.25);
      overflow-x: hidden;
      padding-top: 20px;
      display:flex;
      flex-direction: column;
      justify-content: space-around;
      z-index: 5000;
}
   .social a {
       display: block;
       padding: 20%;
       flex: 1 70%;
       opacity: 0.4;
   }
   .social a:hover {
       opacity:1;
   }

.social nav ul {
    list-style: none;
  }


  .hero {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-end;
    background-attachment: fixed;
    background-position: 80%;
  }

  .hero-cta {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: white;
    font-size: 24px;
    line-height: 1.7;
    opacity: 1;
    display: inline-block;
    z-index:7000;
    position: absolute;
    margin-top: 25vw;

  }
  .hero-cta h2 {
    font-size: 55px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(255, 255, 255, 1);
    color: white;
    line-height: 1.2;
  }


/* work section styling*/
.work {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
#work h2 {
    text-align: center;
    color: var(--tertiary-color);
    font-size: 5vw;
    padding: 10vw;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}
#run-buddy {
    background-image: url("../images/run-buddy.png");
    height: 30vw;
    width: 70vw;
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: flex-end;
    margin: 5vw;
    opacity:0.6;
}
#run-buddy::before {

}
  
#horiseon {
    background-image: url("../images/horiseon.png");
    height: 20vw;
    width: 40vw;
    background-size: cover;
}
.gallery {
    background-color: rgba(255, 255, 255, 0.5);
    display:flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: flex-end;
    opacity: 1;
}
#horiseon h3, p {
    align-self: flex-end;
}

